/* PURPLE */
.purple-allen-cls-1{fill:#efe6f8;}
.purple-allen-cls-2,.purple-allen-cls-8{fill:none;}
.purple-allen-cls-2{stroke:#1d1d1b;stroke-linecap:round;stroke-miterlimit:10;}
.purple-allen-cls-3{fill:#f4cde3;}
.purple-allen-cls-4,.purple-allen-cls-5{fill:#1d1d1b;}
.purple-allen-cls-4{opacity:0.11;}
.purple-allen-cls-5{opacity:0.12;}
.purple-allen-cls-6,.purple-allen-cls-7{fill:#fff;}
.purple-allen-cls-6{opacity:0.5;}
.purple-allen-cls-7{opacity:0.6;}
.purple-allen-cls-8{stroke:#b594d6;stroke-width:1.5px;}

.green-allen-cls-1{fill:#deffdb;}
.green-allen-cls-2,.green-allen-cls-8{fill:none;}
.green-allen-cls-2{stroke:#1d1d1b;stroke-linecap:round;stroke-miterlimit:10;}
.green-allen-cls-3{fill:#f4cde3;}
.green-allen-cls-4,.green-allen-cls-5{fill:#1d1d1b;}
.green-allen-cls-4{opacity:0.11;}
.green-allen-cls-5{opacity:0.12;}
.green-allen-cls-6,.green-allen-cls-7{fill:#fff;}
.green-allen-cls-6{opacity:0.5;}
.green-allen-cls-7{opacity:0.6;}
.green-allen-cls-8{stroke:#ccffc9;stroke-width:1.5px;}