.cls-1{fill:#bfe6d1;}
.cls-1,
.cls-6{stroke:#5dc786;}
.cls-1,
.cls-2,
.cls-6,
.cls-7,
.cls-9{stroke-miterlimit:10;stroke-width:1.5px;}
.cls-2,
.cls-6,
.cls-9{fill:none;}
.cls-2{stroke:#3c3c3b;stroke-linecap:round;}
.cls-3{fill:#ffb3c0;}
.cls-4{fill:#ffb3c1;}
.cls-5{fill:#575756;opacity:0.1;}
.cls-7{fill:#efdeff;}
.cls-7,
.cls-9{stroke:#ba75ff;}
.cls-8{fill:#ffd3db;}