.yue-cls-1 { fill:#efe6f8; }
.yue-cls-2 { fill:#ffd3db; }
.yue-cls-3, .yue-cls-4 { fill:none; stroke-width:1.5px; }
.yue-cls-3 { stroke:#3c3c3b; stroke-linecap:round; stroke-miterlimit:10; }
.yue-cls-4 { stroke:#b594d6; }
.yue-cls-5, .yue-cls-6 { fill-opacity:0.1; }
.yue-cls-6 { fill:#2d2d2d; }