.app .home {
  flex: 4; 
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  justify-content: center;
}

.home .footer {
  justify-self: end; 
  flex: 1; 
  position: fixed; 
  bottom: 0px; 
  left: 40px; 
  right: 40px; 
  display: flex; 
  background-color: white; 
  flex-direction: column
}

.footerBody {
   flex-direction: row; 
   display: flex; 
   justify-content: space-between; 
   height: 60px; 
   margin-bottom: 1.5rem; 
}

.company {
  font-size: 1rem;
  color: #c182ff;
  margin: 0;
  margin-top: 5px;
}

.app .titleContainer {
  margin: 0;
  padding: 0;
  flex-direction: row;
  display: flex;
  width: 30%;
  align-items: center;
}

.title {
  margin: 0;
  padding: 0;
  flex: 1;
  font-size: 24px;
}

.subtitle {
  margin: 0;
  padding: 0;
  flex: 1;
  font-size: 1.5rem;
}

.app .feed {
  flex: 3;
  max-width: 40vw;
  margin-left: 100px;
  margin-right: 100px;
}

.line {
  color: #8205ff;
  border: #8205ff solid 1px;
  flex: 1; 
  margin: 0
}

.subline {
  color: #c182ff;
  border: #c182ff solid 1px;
  margin: 0;
  margin-top: 2rem;
}

.titleDiv {
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.sectionTitle {
  font-size: 20px; 
  color: #8205ff;
  margin: 0;
  margin-right: 0.8rem;
}


/* ELEMENT STYLES */
textarea:focus, input:focus{
    outline: none;
}


/* spinner -- license https://loading.io/css/ */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 40px;
}
.lds-ellipsis div {
  position: absolute;
  top: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #DECCF0;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


/* create post button */
.creatingPost {
  animation: createPostRotation 0.5s 1;
  animation-fill-mode: forwards;
}

@keyframes createPostRotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-45deg); }
}

.cancelPost {
  animation: cancelPostRotation 0.5s 1;
  animation-fill-mode: forwards;
}

@keyframes cancelPostRotation {
  0% { transform: rotate(-45deg); }
  100% { transform: rotate(0deg); }
}

.refresh {
  animation: cancelPostRotation 0.5s 1;
  animation-fill-mode: forwards;
}

@keyframes cancelPostRotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}