.input {
  border-radius: .5rem;
  background-color: #f8f1ff;
  border: 2px solid #8205ff;
  margin-bottom: 15px;
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.invalid {
  border-radius: .5rem;
  border: 2px solid #ff0000;
  margin-bottom: 15px;
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.app .body {
  height: 100%;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  padding-bottom: 2rem;
  overflow: hidden;
}

.inputDiv {
  flex-direction: column;
  display: flex;
  width: 100%;
  text-align: start;
}

.label {
  margin-bottom: 5px;
  color: #8205ff;
  margin-right: 5px;
}

.buttonDiv {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button {
  border: 2px solid #8205ff;
  width: 100%;
  height: 2.5rem;
  border-radius: .5rem;
  background-color: #f8f1ff;
  font-size: 1rem;
  color: #8205ff;
  cursor: pointer;
}

.aboutText {
  text-align: justify !important;
  margin-top: 1.5rem;
  align-content: flex-start;
  display: flex;
  font-size: 0.975rem;
}

.app .aboutDiv {
  margin: 3rem;
  margin-top: 0
}

.welcome {
  justify-content: space-between; 
  flex-direction: column; 
  display: flex; 
  margin-top: 2rem; 
  margin-bottom: 2rem; 
  text-align: center;
  align-items: center;
}

a { text-decoration: none; color:#8205ff; }
a:visited { text-decoration: none; color:#8205ff; }
a:hover { text-decoration: none; color:#ffb405; }
a:focus { text-decoration: none; color:#8205ff; }

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #f8f1ff inset !important;
}