.input {
  border-radius: .5rem;
  background-color: #f8f1ff;
  border: 2px solid #8205ff;
  margin-bottom: 15px;
  height: 2.5rem;
  padding-left: 1rem;
}

.app .body {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.inputDiv {
  flex-direction: column;
  display: flex;
  width: 40%;
  text-align: start;
}

.label {
  margin-bottom: 5px;
}

.buttonDiv {
  margin-top: 2rem;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.button {
  border: 2px solid #8205ff;
  width: 40%;
  height: 2.5rem;
  border-radius: .5rem;
  background-color: #f8f1ff;
  font-size: 1rem;
  color: #8205ff;
  cursor: pointer;
}