.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app .header {
  background-color: #5900B2;
  flex-direction: row;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  text-align: center;
}

.profileImage {
  flex-shrink: 0;
}

.chamonix {
  flex: 1;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2rem;
}

.lotfourteen {
  flex: 1;
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 2rem;
}

.hamburger {
  flex: 1;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  background-color: #00000000;
  border: none;
}

.hamsterPage {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.postBodyInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ababab;
  opacity: 1; /* Firefox */
}

.postBodyInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ababab;
}

.postBodyInput::-ms-input-placeholder { /* Microsoft Edge */
  color: #ababab;
}

.postBodyInput {
  background-color: #f3f3f3; 
  font-size: 1.5rem;
  border: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 0;
  border-radius: 10px;  
  color: #8205ff;
  overflow: hidden;
  resize: none;
  height: 44px;
}