.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
}

.appDarkMode {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #302245;
}

.header {
  background-color: #5900B2;
  flex-direction: row;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  text-align: center;
}

.profileImage {
  aspect-ratio: 1/1;
  width: 80px;
  border-radius: 80px;
  border: 3px solid #ffffff00;
  box-shadow: 0px 2px 3px #888;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  object-fit: cover;
}

.chamonix {
  flex: 1;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2rem;
}

.lotfourteen {
  flex: 1;
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 2rem;
}

.hamburger {
  flex: 1;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  background-color: #00000000;
  border: none;
}

.allenPage {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.allenPageDarkMode {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #302245;
}

.postBodyInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ababab;
  opacity: 1; /* Firefox */
}

.postBodyInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ababab;
}

.postBodyInput::-ms-input-placeholder { /* Microsoft Edge */
  color: #ababab;
}

.errorMessage {
  font-size: 14px;
  color: red;
  width: 100%;
  text-align: center;
  margin-top: 1rem
}

.successMessage {
  font-size: 14px;
  color: green;
  width: 100%;
  text-align: center;
  margin-top: 1rem
}