.postBodyInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ababab;
  opacity: 1; /* Firefox */
}

.postBodyInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ababab;
}

.postBodyInput::-ms-input-placeholder { /* Microsoft Edge */
  color: #ababab;
}

.postBodyInput {
  background-color: #f3f3f3; 
  font-size: 1.5rem;
  border: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 0;
  border-radius: 10px;  
  color: #8205ff;
  overflow: hidden;
  resize: none;
  height: 44px;
}


.postButton {
  padding: 12px;
  width: 70px;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  font-size: .875rem;
  border: 0;
}
