.postButton {
  padding: 12px;
  width: 70px;
  border-radius: 10px;
  font-weight: 500;
  color: white;
  font-size: .875rem;
  border: 0;
}

.post .postHeader {
  overflow: hidden;
  text-overflow: ellipsis;
}

.posterDetails {
  flex-direction: column;
  display: flex;
  align-items: start;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.post .headerTextName {
  white-space: nowrap;
  max-width: 100%;
}