.trendingUser, .trendingUserDarkMode {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1rem;
  direction: ltr;
}

.trendingUser .subtext {
  font-size: .9rem;
  color: #b468ff;
  font-weight: 350;
}
.trendingUser .text {
  font-size: 16px;
  color: #8205ff;
  font-weight: 500;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trendingUser .profileImage, .trendingUserDarkMode .profileImage {
  height: 50px;
  width: 50px;
  border-radius: 60px;
  border: 2px solid #ffffff00;
  box-shadow: 0px 2px 3px #00000050;
  overflow: hidden;
  margin-right: 1rem;
  aspect-ratio: 1/1;
  object-fit: cover;
}


/* ########### DARK MODE ########### */
.trendingUserDarkMode .subtext { 
  color: #F6C6FF;  
  font-size: .9rem;
  font-weight: 350;
}